/* FONT SOURCE SANS PRO FROM GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  all: unset;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
ul {
  list-style: none;
}
input,
textarea {
  all: unset;
}

:root {
  --main-color: #1ec997;
  --main-color-darken: #1aaa80;
  --second-color: #4c4d4d;
  --third-color: #6d757d;
  --fourth-color: #f8f9fa;
  --fourth-darken-color: #eaecef;
  --fifth-color: #dd3545;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  height: 10000px;
  overflow-x: hidden;
}

/* --------- */
/* UTILITUES */
/* --------- */
.container {
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}

/* ------ */
/* GLOBAL */
/* ------ */
.header__section {
  position: relative;
  font-size: 2.5rem;
  text-transform: capitalize;
}
.header__section h2 {
  position: relative;
  z-index: 2;
}
.header__section::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%) scale(6);
  color: #585050;
  opacity: 0.1;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 600;
}
.header__section::before {
  content: "";
  position: absolute;
  width: 8rem;
  height: 3px;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  background-color: var(--main-color);
}

.section__wrapper {
  padding-block: 10rem;
  text-align: center;
}

/* ----------------- */
/* HEADER and NAVBAR */
/* ----------------- */
.header__nav {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
}
.header__nav__wrapper {
  display: flex;
  align-items: center;
  padding-block: 15px;
}
.header__nav__toggle {
  display: none;
}
.header__nav__toggle svg {
  width: 3rem;
  height: 2.6rem;
}
.header__nav__logo {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 3rem;
}
.header__nav__items {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  text-transform: capitalize;
  color: white;
  flex-basis: 85%;
  font-weight: 300;
}
.header__nav__items__item {
  position: relative;
  font-size: 1.7rem;
}
.header__nav__items__item__link {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.header__nav__items__item__link:hover {
  color: var(--main-color);
}
.header__nav__items__item__link--active {
  color: var(--main-color);
}

.header__content {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/header.jpg");
  background-size: cover;
  background-position: top center;
  color: white;
}
.header__content__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.header__content__welocome {
  font-size: 3rem;
  font-weight: 400;
}
.header__content__submaintitle {
  font-weight: 300;
  font-size: 2.2rem;
}
.header__content__maintitle {
  font-size: 7rem;
  margin-block: 1rem;
  font-weight: 700;
}
.header__content__btn {
  padding: 1.4rem 4.4rem;
  border: 2px solid var(--main-color);
  border-radius: 100px;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 3rem;
  color: var(--main-color);
  transition: all 0.3s ease;
}
.header__content__icon {
  width: 2rem;
  height: 2rem;
  animation: down 1.5s infinite ease-out;
}

/* ------------------------- */
/* SECTION 1 => KNOW ME MORE */
/* ------------------------- */
.know-more {
  background-color: white;
}
.know-more__content {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  gap: 10px;
  text-align: left;
  font-size: 4rem;
  margin-top: 10rem;
}
.know-more__content__info {
  flex-basis: 70%;
  padding: 0.5em 1.2em;
}
.know-more__content__title {
  font-size: 0.7em;
}
.know-more__content__title span {
  color: var(--main-color);
}
.know-more__content__desc {
  margin-top: 0.8em;
  font-size: 0.4em;
  line-height: calc(0.4em * 5);
  color: var(--second-color);
  font-weight: 400;
}
.know-more__content__details {
  font-size: 0.4em;
  flex-grow: 1;
}
.know-more__content__details__items li {
  display: flex;
  align-items: center;
  padding-block: 1rem;
}
.know-more__content__details__items li span:first-of-type {
  text-transform: capitalize;
  margin-inline-end: 0.5em;
  color: var(--second-color);
  font-weight: 700;
}
.know-more__content__details__items li a {
  text-decoration: none;
  color: var(--main-color);
}
.know-more__content__details__items li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.know-more__content__details__btn {
  background-color: var(--main-color);
  color: white;
  padding: 1em 3em;
  border-radius: 100px;
  margin-top: 1.3em;
  box-shadow: 0 5px 20px rgb(232 192 192);
}
.know-more__counter {
  margin-top: 4rem;
}
.know-more__counter__items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.know-more__counter__items li {
  display: flex;
  flex-direction: column;
  flex-basis: calc(97% / 4);
  border: 1px dashed;
  border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
}
.know-more__counter__items li:nth-last-of-type(1) {
  border-right-color: transparent;
}
.know-more__counter__items li span:nth-of-type(1) {
  font-size: 5rem;
  font-weight: 500;
  color: var(--third-color);
}
.know-more__counter__items li span:nth-of-type(2) {
  font-size: 1.6rem;
}

/* ---------------------- */
/* SECTION 2 => WHAT I DO */
/* ---------------------- */
.what {
  background-color: var(--fourth-color);
}
.what__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10rem;
  padding-inline: 6rem;
}
.what__content__card {
  display: flex;
  align-items: center;
  flex-basis: calc(95% / 2);
  font-size: 2rem;
  text-align: left;
}
.what__content__card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1.2em 1em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(173 167 167 / 50%);
}
.what__content__card__icon svg {
  width: 3.9rem;
  height: 3rem;
}
.what__content__card__info {
  padding: 1em;
}
.what__content__card__info h5 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.what__content__card__info p {
  font-size: 0.8em;
  font-weight: 300;
}

/* ---------------------- */
/* SECTION 3 => WHAT I DO */
/* ---------------------- */
.resume {
  background-color: white;
}
.resume__categorys {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 10rem;
  font-size: 3rem;
  text-align: left;
  padding-inline: 4rem;
}
.resume__categorys__category {
  flex-basis: calc(96% / 2);
}
.resume__categorys__category h5 {
  padding-block: 0.7em;
}
.resume__categorys__cate__item {
  border: 1px solid rgba(75, 75, 75, 0.2);
  padding: 0.5em;
  border-radius: 5px;
}
.resume__categorys__cate__item:not(:last-of-type) {
  margin-bottom: 1em;
}
.resume__categorys__cate__date {
  font-size: 0.5em;
  background-color: var(--main-color);
  color: white;
  padding: 2px 0.4em;
  border-radius: inherit;
}
.resume__categorys__cate__title {
  font-size: 0.7em;
  margin-top: 1em;
  line-height: 0;
  font-weight: 400;
}
.resume__categorys__cate__subtitle {
  font-size: 0.5em;
  color: var(--fifth-color);
}
.resume__categorys__cate__desc {
  font-size: 0.5em;
  margin-top: 0.5em;
  line-height: calc(0.5em * 4);
}

.resume__skills {
  font-size: 3rem;
  margin-top: 5rem;
  padding-inline: 4rem;
  text-align: left;
}
.resume__skills__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0.8em;
}
.resume__skills__skill {
  flex-basis: calc(97% / 2);
}
.resume__skills__skill:not(:last-of-type) {
  margin-bottom: 1.2em;
}
.resume__skills__skill h6 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.6em;
}
.resume__skills__skill__progress,
.resume__skills__skill__progress__inner {
  position: relative;
  display: block;
  height: 1rem;
  width: 100%;
  border-radius: 100px;
  background-color: var(--fourth-darken-color);
  margin-top: 0.5em;
}
.resume__skills__skill__progress::before {
  content: attr(data-pro);
  position: absolute;
  bottom: 1.2em;
  inset-inline-end: 0;
  font-size: 0.6em;
  font-weight: 500;
}
.resume__skills__skill__progress__inner {
  background-color: var(--main-color);
}
.resume__downloadcv {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--third-color);
  border-radius: 100px;
  padding: 1.5rem 3.5rem;
  margin-inline: auto;
  font-size: 1.6rem;
  margin-top: 5rem;
  color: var(--third-color);
  font-weight: 500;
}
.resume__downloadcv svg {
  width: 2rem;
  height: 2rem;
  fill: var(--third-color);
}

/* ---------------------- */
/* SECTION 4 => PORTFOLIO */
/* ---------------------- */
.portfolio {
  background-color: var(--fourth-color);
}
.portfolio__wrapper {
}
.portfolio__nav {
  display: flex;
}

/* ---------- */
/* RESPONSIVE */
/* ---------- */
@media (max-width: 992px) {
  html {
    font-size: 56.25%;
  }

  /* ----------------- */
  /* HEADER and NAVBAR */
  /* ----------------- */
  .header__nav__toggle {
    display: block;
  }
  .header__nav__items {
    position: absolute;
    flex-direction: column;
    align-items: stretch;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.907);
    z-index: 10000;
  }
  .header__nav__items__item:last-of-type {
    margin-bottom: 20px;
  }
  .header__nav__items__item__link {
    display: block;
    text-align: center;
  }
  .header__nav__wrapper {
    justify-content: space-between;
  }

  /* ---------------------- */
  /* SECTION 2 => WHAT I DO */
  /* ---------------------- */
  .what__content {
    padding-inline: 0px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 53%;
  }

  /* ------------------------- */
  /* SECTION 1 => KNOW ME MORE */
  /* ------------------------- */
  .know-more__content__details__btn {
    display: block;
    margin-inline: auto;
  }
  .know-more__content__info {
    flex-basis: 100%;
    text-align: center;
    padding: 0;
  }
  .know-more__counter__items li {
    flex-basis: calc(100% / 2);
    padding: 1.5rem;
  }
  .know-more__counter__items li:nth-of-type(even) {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.1);
  }
  .know-more__counter__items li:nth-of-type(-n + 2) {
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }

  /* ---------------------- */
  /* SECTION 2 => WHAT I DO */
  /* ---------------------- */
  .what__content {
    margin-top: 7rem;
  }
  .what__content__card {
    flex-direction: column;
    text-align: center;
    flex-basis: 100%;
  }

  /* ---------------------- */
  /* SECTION 3 => WHAT I DO */
  /* ---------------------- */
  .resume__categorys {
    padding-inline: 0;
  }
  .resume__categorys__category {
    flex-basis: 100%;
  }
  .resume__skills {
    padding-inline: 0;
  }
  .resume__skills__skill {
    flex-basis: 100%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }

  /* ------ */
  /* GLOBAL */
  /* ------ */
  .header__section::after {
    transform: translateY(-50%) scale(3.7);
  }

  /* ------------------------- */
  /* SECTION 1 => KNOW ME MORE */
  /* ------------------------- */
  .know-more__counter__items li {
    flex-basis: 100%;
    border-color: transparent !important;
  }
}

@media (hover: hover) {
  .header__content__btn:hover {
    background-color: var(--main-color);
    color: white;
  }
  .know-more__content__details__btn:hover {
    background-color: var(--main-color-darken);
  }

  .resume__downloadcv:hover {
    background-color: var(--third-color);
    color: white;
  }
  .resume__downloadcv:hover svg {
    fill: white;
  }
}

/* ---------- */
/* ANIMATIONS */
/* ---------- */
@keyframes down {
  from {
    transform: translateY(14rem);
    opacity: 0;
  }
  to {
    transform: translateY(19rem);
    opacity: 1;
  }
}
