/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #8d7853;
  --secondary-color: #f8f8f8;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  height: 10000px;
}

/* --------- */
/* UTILITUES */
/* --------- */
.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.svg {
  width: 15px;
  height: 15px;
}

/* ----------------- */
/* HEADER and NAVBAR */
/* ----------------- */
.header__nav {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
}
.header__nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
}
.header__nav__logo {
  max-width: 140px;
}
.header__nav__logo > img {
  width: 100%;
}
.header__nav__items {
  display: flex;
  gap: 30px;
  list-style: none;
  text-transform: capitalize;
  color: white;
}
.header__nav__items__item {
  position: relative;
  transition: all 0.3s ease;
}
.header__nav__items__item__link {
  text-decoration: none;
  color: white;
}
.header__nav__items__item:hover {
  cursor: pointer;
  color: var(--main-color);
}
.header__nav__items__item__link--active {
  color: var(--main-color);
}
.header__nav__items__item__link--active::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--main-color);
}

.header__content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/header.jpg");
  background-size: cover;
  background-position: bottom center;
  width: 100vw;
}
.header__content__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.header__content__welocome,
.header__content__submaintitle {
  font-size: 25px;
  color: rgb(179, 179, 179);
  margin-block: 50px;
}
.header__content__maintitle {
  font-size: 60px;
  color: white;
  text-transform: capitalize;
}
.header__content__actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.header__content__actions__button {
  all: unset;
  color: white;
  padding: 15px 20px;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__content__actions__button--learnmore {
  background-color: var(--main-color);
}
.header__content__actions__button--contactus {
  border: 1px solid white;
}
.header__content__actions__button:hover {
  background-color: white;
  color: black;
}
.header__content__scroll {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 55px;
  min-height: 55px;
  border-radius: 50px;
  margin-top: 100px;
  border: 1px solid white;
  overflow: hidden;
}
.header__content__scroll::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  animation: scroll 3s infinite ease-in-out;
  will-change: animation;
}

/* ----------------------- */
/* SECTION 1 => WHO WE ARE */
/* ----------------------- */
.who-we-are {
  background-color: white;
}
.who-we-are__wrapper,
.our-location__wrapper {
  display: flex;
  height: 100vh;
}
.who-we-are__wrapper > *,
.our-location__wrapper > * {
  flex-basis: calc(100% / 2);
}
.who-we-are__image,
.our-location__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.who-we-are__image img,
.our-location__image img {
  max-width: 90%;
}
.who-we-are__content,
.our-location__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline-start: 15px;
}
.who-we-are__content__title,
.our-location__content__title {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 30px;
}
.who-we-are__content__description,
.our-location__content__description {
  color: var(--main-color);
  font-size: 17px;
  line-height: calc(17px * 1.6);
}
.who-we-are__content__features {
  margin-top: 20px;
}
.who-we-are__content__features__feature {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-color);
  margin-bottom: 15px;
}
.who-we-are__content__features__feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* ------------------------- */
/* SECTION 2 => OUR LOCATION */
/* ------------------------- */
.our-location {
  background-color: var(--secondary-color);
}
.our-location__image {
  order: 1;
}
.our-location__content {
  order: 0;
}
.our-location__content__description:first-of-type {
  margin-bottom: 30px;
}

/* ----------------------- */
/* SECTION 3 => OUR BAKING */
/* ----------------------- */
.our-baking {
  background-color: white;
}
.our-baking__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.our-baking__header {
  text-align: center;
}
.our-backing__header__title {
  margin-bottom: 30px;
  text-transform: capitalize;
  font-size: 30px;
}
.our-backing__header__description {
  color: var(--main-color);
}
.our-baking__cards {
  display: flex;
  justify-content: space-between;
}
.our-baking__cards__card {
  text-align: center;
  margin-top: 50px;
  flex-basis: calc(92% / 3);
}
.our-baking__cards__card__img img {
  max-width: 100%;
}
.our-baking__cards__card__content__title {
  margin-block: 15px;
}
.our-baking__cards__card__content__description {
  font-size: 17px;
  line-height: calc(17px * 1.5);
  color: var(--main-color);
}

/* ------------ */
/* USER ACTIONS */
/* ------------ */
.user {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 40px;
  background-color: white;
  top: 30vh;
  inset-inline-end: 0;
  border-radius: 10px 0 0 10px;
  padding: 3px;
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
}
.user__action {
  all: unset;
  position: relative;
  background-color: white;
  width: 100%;
  cursor: pointer;
}
.user__action svg {
  width: 100%;
  max-height: 25px;
  padding-top: 5px;
}
.user__action::after {
  content: attr(data-hint);
  position: absolute;
  display: block;
  top: 50%;
  inset-inline-end: 120%;
  width: fit-content;
  min-width: 100px;
  text-align: center;
  white-space: pre;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.user__action:hover::after {
  opacity: 1;
  visibility: visible;
}

/* ---------- */
/* ANIMATIONS */
/* ---------- */
@keyframes scroll {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateY(-15px);
    opacity: 0;
  }
}
