@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-color: #ff2f5b;
  --secand-color: rgba(0, 0, 0, 0.688);
  --third-color: #ff2f5b;
  --fourth-color: #333333;
  --fifth-color: #f1f1f1;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  height: 10000px;
  overflow-x: hidden;
}

/* --------- */
/* UTILITUES */
/* --------- */
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.svg {
  width: 15px;
  height: 15px;
}

button {
  all: unset;
  cursor: pointer;
}
ul {
  list-style: none;
}

.line {
  position: relative;
  display: block;
  width: 15rem;
  height: 1px;
  background-color: var(--third-color);
  margin-inline: auto;
  margin-block: 2rem;
}
.line::after,
.line::before {
  content: "";
  position: absolute;
  width: 7rem;
  height: inherit;
  background-color: inherit;
  inset-inline-start: 50%;
  transform: translateX(-50%);
}
.line::after {
  top: -1rem;
}
.line::before {
  top: 1rem;
}

/* ----------------- */
/* HEADER and NAVBAR */
/* ----------------- */
.header__nav {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
}
.header__nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
}
.header__nav__logo {
  max-width: 140px;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
  font-size: 2.5rem;
}
.header__nav__items {
  display: flex;
  gap: 3rem;
  list-style: none;
  text-transform: capitalize;
  color: white;
}
.header__nav__items__item {
  position: relative;
  font-size: 1.7rem;
}
.header__nav__items__item__link {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.header__nav__items__item__link:hover {
  color: var(--main-color);
}
.header__nav__items__item__link--active {
  color: var(--main-color);
}

.header__content {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/slider/slider-01.jpg");
  background-size: cover;
  background-position: bottom center;
}
.header__content__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.header__content__welocome,
.header__content__maintitle {
  font-weight: 700;
}
.header__content__welocome,
.header__content__submaintitle {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}
.header__content__maintitle {
  font-size: 7rem;
  color: var(--main-color);
  text-transform: uppercase;
  margin-block: 1rem;
}

/* ------------------ */
/* SECTION 1 => ABOUT */
/* ------------------ */
.about__wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-block: 3rem;
  min-height: 100vh;
}
.about__wrapper > * {
  flex: 0 0 50%;
}
.about__image__wrapper {
  display: flex;
  justify-content: center;
}
.about__image {
  box-shadow: 0 0 0 10px #555555 inset;
  border-radius: 5px;
  width: 36rem;
  text-align: center;
}
.about__image img {
  transform: translate(37px, 37px);
  border-radius: 5px;
}

.about__content {
  padding-inline: 2rem;
}
.about__content__head {
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.about__content__head::first-letter {
  color: var(--main-color);
}
.about__content__desc {
  font-size: 1.7rem;
  line-height: calc(1.7rem * 1.6);
  color: var(--secand-color);
  padding-bottom: 2rem;
  margin-bottom: 2.2rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.303);
}
.about__content__otherinfo {
  display: flex;
  flex-flow: row wrap;
}
.about__content__otherinfo__info {
  display: flex;
  gap: 5px;
  align-items: center;
  flex: 0 0 50%;
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.about__content__otherinfo__info h6 {
  font-size: 1.7rem;
  font-weight: 600;
}
.about__content__otherinfo__info span {
  color: var(--secand-color);
}
.about__content__otherinfo__info a {
  color: var(--main-color);
  text-decoration: none;
}

.about__content__actions {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  color: white;
  font-size: 1.6rem;
}
.about__content__actions__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-color);
  padding: 15px 40px;
  gap: 5px;
  border-radius: 5px;
  font-weight: 600;
}

/* --------------------- */
/* SECTION 2 => SERVICES */
/* --------------------- */
.services {
  background-color: var(--fifth-color);
}
.services__wrapper,
.portfolio__wrapper,
.count-services__wrapper {
  padding-block: 7rem;
}
.services__head,
.portfolio__head {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--fourth-color);
}

.services__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 9rem;
}
.services__cards__card {
  flex-basis: calc(97% / 4);
  padding: 2rem 1rem;
  overflow: hidden;
  transition: all 0.5s ease;
}
.services__cards__card__icon svg {
  width: 4rem;
  height: 5rem;
  transition: all 0.5s ease;
}
.services__cards__card h4 {
  font-size: 1em;
  margin-block: 1rem;
  text-transform: uppercase;
  color: var(--fourth-color);
  font-weight: 600;
}
.services__cards__card p {
  font-size: 0.7em;
  line-height: calc(0.7em * 2);
  color: var(--third-color);
}

/* -------------------------- */
/* SECTION 3 => OUR PORTFOLIO */
/* -------------------------- */
.portfolio {
  background-color: white;
}
.portfolio__nav {
  margin-top: 6rem;
}
.portfolio__nav__items {
  display: flex;
  justify-content: center;
  gap: 4rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: var(--fourth-color);
}
.portfolio__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 6rem;
}
.portfolio__items__item {
  position: relative;
  flex-basis: calc(95% / 3);
  margin-bottom: 2.6rem;
  overflow: hidden;
}
.portfolio__items__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.562);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.portfolio__items__item img {
  max-width: 100%;
}

/* --------------------------- */
/* SECTION 4 => COUNT SERVICES */
/* --------------------------- */
.count-services {
  background-color: var(--fifth-color);
}
.count-services__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.count-services__cards__card {
  flex-basis: calc(97% / 4);
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}
.count-services__cards__card svg {
  width: 3.9rem;
  height: 4.3rem;
}
.count-services__cards__card > h4 {
  font-weight: 600;
  color: var(--fourth-color);
  font-size: 1.8rem;
}
.count-services__cards__card > span {
  display: block;
  margin-block: 10px;
  font-weight: 700;
  font-size: 2.5rem;
}

/* ---------- */
/* RESPONSIVE */
/* ---------- */
@media (max-width: 940px) {
  /* ------------------ */
  /* SECTION 1 => ABOUT */
  /* ------------------ */
  .about__image__wrapper {
    padding-inline: 20px;
    justify-content: start;
  }
  .about__image {
    box-shadow: none;
  }
  .about__image img {
    transform: translate(0, 0);
  }
}
@media (max-width: 992px) {
  html {
    font-size: 56.25%;
  }
  /* ------------------ */
  /* SECTION 1 => ABOUT */
  /* ------------------ */
  .about__wrapper > * {
    flex: 0 0 65%;
  }
  .about__content__otherinfo__info {
    flex: 0 0 100%;
    justify-content: space-between;
  }
  .about__wrapper > * {
    flex: 0 0 50%;
  }

  /* --------------------- */
  /* SECTION 2 => SERVICES */
  /* --------------------- */
  .services__cards__card {
    flex-basis: calc(97% / 2);
    overflow: hidden;
  }

  /* -------------------------- */
  /* SECTION 3 => OUR PORTFOLIO */
  /* -------------------------- */
  .portfolio__items__item {
    flex-basis: calc(95% / 2);
  }

  /* --------------------------- */
  /* SECTION 4 => COUNT SERVICES */
  /* --------------------------- */
  .count-services__cards__card {
    flex-basis: calc(97% / 2);
  }
  .count-services__cards__card:not(:last-of-type) {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 53%;
  }
  /* ------------------ */
  /* SECTION 1 => ABOUT */
  /* ------------------ */
  .about__wrapper > * {
    flex: 0 0 100%;
    text-align: center;
  }
  .about__image__wrapper {
    justify-content: center;
  }
  .about__content {
    padding-inline: 0;
  }
  .about__image {
    width: 100%;
  }
  .about__content__actions {
    justify-content: center;
  }

  /* --------------------- */
  /* SECTION 2 => SERVICES */
  /* --------------------- */
  .services__cards {
    margin-top: 5rem;
  }
  .services__cards__card {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }

  /* -------------------------- */
  /* SECTION 3 => OUR PORTFOLIO */
  /* -------------------------- */
  .portfolio__items__item {
    flex-basis: 100%;
  }

  /* --------------------------- */
  /* SECTION 4 => COUNT SERVICES */
  /* --------------------------- */
  .count-services__cards__card {
    flex-basis: 100%;
  }
}

@media (hover: hover) {
  .services__cards__card:hover {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(133, 133, 133, 0.233);
  }
  .services__cards__card:hover .services__cards__card__icon svg {
    transform: scale(1.2);
  }

  .portfolio__items__item:hover::after {
    opacity: 1;
  }
}
